In [77]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [78]:
data = pd.read_csv(r"C:\Users\imins\Downloads\loan (1).csv",low_memory=False)

In [79]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [80]:
data.shape

(39717, 111)

In [81]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
id,39717.0,683131.913060,210694.132915,54734.0,516221.0,665665.0,837755.0,1077501.0
member_id,39717.0,850463.559408,265678.307421,70699.0,666780.0,850812.0,1047339.0,1314167.0
loan_amnt,39717.0,11219.443815,7456.670694,500.0,5500.0,10000.0,15000.0,35000.0
funded_amnt,39717.0,10947.713196,7187.238670,500.0,5400.0,9600.0,15000.0,35000.0
funded_amnt_inv,39717.0,10397.448868,7128.450439,0.0,5000.0,8975.0,14400.0,35000.0
...,...,...,...,...,...,...,...,...
tax_liens,39678.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
tot_hi_cred_lim,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_bal_ex_mort,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_bc_limit,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_il_high_credit_limit,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
data.isna().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [83]:
loan = data

In [84]:
missin_col = loan.columns[loan.isna().sum()/len(loan.index)*100>90]

In [85]:
len(missin_col)

56

In [86]:
loan = loan.drop(missin_col,axis=1)

In [87]:
loan.shape

(39717, 55)

In [88]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 55 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26777 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  mths_since_last_delinq      14035 non-null  float64
 29  open_acc                    39717 non-null  int64
 30  pub_rec                     39717 non-null  int64
 31  revol_bal                   39717 non-null  int64
 32  revol_util                  39667 non-null  object
 33  total_acc                   39717 non-null  int64
 34  initial_list_status         39717 non-null  object
 35  out_prncp                   39717 non-null  float64
 36  out_prncp_inv               39717 non-null  float64
 37  total_pymnt                 39717 non-null  float64
 38  total_pymnt_inv             39717 non-null  float64
 39  total_rec_prncp             39717 non-null  float64
 40  total_rec_int               39717 non-null  float64
 41  total_rec_late_fee          39717 non-null  float64
 42  recoveries                  39717 non-null  float64
 43  collection_recovery_fee     39717 non-null  float64
 44  last_pymnt_d                39646 non-null  object
 45  last_pymnt_amnt             39717 non-null  float64
 46  last_credit_pull_d          39715 non-null  object
 47  collections_12_mths_ex_med  39661 non-null  float64
 48  policy_code                 39717 non-null  int64
 49  application_type            39717 non-null  object
 50  acc_now_delinq              39717 non-null  int64
 51  chargeoff_within_12_mths    39661 non-null  float64
 52  delinq_amnt                 39717 non-null  int64
 53  pub_rec_bankruptcies        39020 non-null  float64
 54  tax_liens                   39678 non-null  float64
dtypes: float64(19), int64(13), object(23)
memory usage: 16.7+ MB

In [89]:
loan.isna().sum()/len(loan.index)*100

id                             0.000000
member_id                      0.000000
loan_amnt                      0.000000
funded_amnt                    0.000000
funded_amnt_inv                0.000000
term                           0.000000
int_rate                       0.000000
installment                    0.000000
grade                          0.000000
sub_grade                      0.000000
emp_title                      6.191303
emp_length                     2.706650
home_ownership                 0.000000
annual_inc                     0.000000
verification_status            0.000000
issue_d                        0.000000
loan_status                    0.000000
pymnt_plan                     0.000000
url                            0.000000
desc                          32.580507
purpose                        0.000000
title                          0.027696
zip_code                       0.000000
addr_state                     0.000000
dti                            0.000000
delinq_2yrs                    0.000000
earliest_cr_line               0.000000
inq_last_6mths                 0.000000
mths_since_last_delinq        64.662487
open_acc                       0.000000
pub_rec                        0.000000
revol_bal                      0.000000
revol_util                     0.125891
total_acc                      0.000000
initial_list_status            0.000000
out_prncp                      0.000000
out_prncp_inv                  0.000000
total_pymnt                    0.000000
total_pymnt_inv                0.000000
total_rec_prncp                0.000000
total_rec_int                  0.000000
total_rec_late_fee             0.000000
recoveries                     0.000000
collection_recovery_fee        0.000000
last_pymnt_d                   0.178765
last_pymnt_amnt                0.000000
last_credit_pull_d             0.005036
collections_12_mths_ex_med     0.140998
policy_code                    0.000000
application_type               0.000000
acc_now_delinq                 0.000000
chargeoff_within_12_mths       0.140998
delinq_amnt                    0.000000
pub_rec_bankruptcies           1.754916
tax_liens                      0.098195
dtype: float64

In [90]:
loan = loan.drop(['desc','mths_since_last_delinq'],axis=1)

In [91]:
loan['int_rate']

0        10.65%
1        15.27%
2        15.96%
3        13.49%
4        12.69%
          ...
39712     8.07%
39713    10.28%
39714     8.07%
39715     7.43%
39716    13.75%
Name: int_rate, Length: 39717, dtype: object

In [92]:
loan['int_rate'] = loan['int_rate'].str.replace("%","").astype(float)

In [93]:
loan['int_rate']

0        10.65
1        15.27
2        15.96
3        13.49
4        12.69
         ...
39712     8.07
39713    10.28
39714     8.07
39715     7.43
39716    13.75
Name: int_rate, Length: 39717, dtype: float64

In [94]:
loan = loan[~loan['emp_length'].isnull()]

In [95]:
loan.shape

(38642, 53)

In [96]:
import re

In [97]:
loan["emp_length"] = loan['emp_length'].apply(lambda x: re.findall('\d+', str(x))[0]).astype(int)

In [98]:
loan["emp_length"].dtype

dtype('int32')

In [99]:
loan = loan[loan['loan_status']!="Current"]

In [100]:
loan['issue_d']

0        Dec-11
1        Dec-11
2        Dec-11
3        Dec-11
5        Dec-11
          ...
39712    Jul-07
39713    Jul-07
39714    Jul-07
39715    Jul-07
39716    Jun-07
Name: issue_d, Length: 37544, dtype: object

In [101]:
from datetime import datetime

In [102]:
loan['issue_d'] = loan['issue_d'].apply(lambda x: datetime.strptime(x, '%b-%y'))

In [103]:
loan["isd_month"] = loan['issue_d'].apply(lambda x:x.month)
loan["isd_year"] = loan['issue_d'].apply(lambda x:x.year)

In [104]:
loan['revol_util'] = loan['revol_util'].str.replace("%","").astype(float)

In [105]:
req_cols = ['loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
        'purpose', 'dti', 'delinq_2yrs',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt',
     'chargeoff_within_12_mths', 'pub_rec_bankruptcies', 'tax_liens', 'isd_month', 'isd_year',
            'loan_status']

In [106]:
loan[req_cols].to_csv("loan-processed.csv",index=False)

In [107]:
new_data = pd.read_csv("loan-processed.csv")

In [108]:
new_data.isna().sum()

loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
emp_length                    0
home_ownership                0
annual_inc                    0
verification_status           0
purpose                       0
dti                           0
delinq_2yrs                   0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                   47
total_acc                     0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_amnt               0
chargeoff_within_12_mths     56
pub_rec_bankruptcies        697
tax_liens                    39
isd_month                     0
isd_year                      0
loan_status                   0
dtype: int64

In [109]:
new_data['revol_util'] = new_data['revol_util'].fillna(new_data['revol_util'].median())

In [110]:
#dr = ["chargeoff_within_12_mths,"]

In [111]:
new_data = new_data.drop("chargeoff_within_12_mths",axis=1)

In [112]:
new_data = new_data.drop("tax_liens",axis=1)

In [113]:
new_data['pub_rec_bankruptcies'] = new_data['pub_rec_bankruptcies'].fillna(0)

In [114]:
new_data['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [115]:
new_data["term"] = new_data['term'].map({' 36 months':36,' 60 months':60})

In [116]:
new_data['grade'].unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [117]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
new_data["grade"] = le.fit_transform(new_data['grade'])

In [118]:
x = new_data.drop("loan_status",axis=1)
y = new_data['loan_status']

In [119]:
x = pd.get_dummies(x)

In [120]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, f1_score, confusion_matrix

In [121]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(x)

In [122]:
x_train, x_test, y_train , y_test = train_test_split(x,y,
                                                    test_size=0.2,random_state=134)

In [124]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

lr = LogisticRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
accuracy_score(y_test, y_pred)

C:\Users\imins\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9929418031695298

In [125]:
# KNN
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=13)
knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)
accuracy_score(y_test, y_pred)

0.8769476628046344

In [126]:
# SVM
from sklearn.svm import SVC
sv = SVC()
sv.fit(x_train, y_train)
y_pred = sv.predict(x_test)
accuracy_score(y_test, y_pred)

0.9711013450526036

In [127]:
# Decision Tree   
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)
y_pred = dt.predict(x_test)
accuracy_score(y_test, y_pred)

0.9926754561193235

In [128]:
# Bagging Classifier
bs_et = DecisionTreeClassifier()

from sklearn.ensemble import BaggingClassifier
bg = BaggingClassifier(base_estimator=bs_et, n_estimators= 200)
bg.fit(x_train, y_train)
y_pred = bg.predict(x_test)
accuracy_score(y_test, y_pred)

0.9956052736715941

In [129]:
# Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
rt = RandomForestClassifier()
rt.fit(x_train, y_train)
y_pred = rt.predict(x_test)
accuracy_score(y_test, y_pred)

0.9940071913703555

In [130]:
# Cross val Random Forest
from sklearn.model_selection import cross_val_score
rt = RandomForestClassifier()

cv_results = cross_val_score(rt, x, y, cv = 5, scoring="accuracy")
cv_results.mean()

0.9943798253674352

In [131]:
# Cross val Decision Tree
from sklearn.model_selection import cross_val_score
dt = DecisionTreeClassifier()

cv_results = cross_val_score(dt, x, y, cv = 5, scoring="accuracy")
cv_results.mean()

0.9879335811056211

In [132]:
# Cross val KNN
from sklearn.model_selection import cross_val_score
knn = KNeighborsClassifier(n_neighbors=13)

cv_results = cross_val_score(knn, x, y, cv = 5, scoring="accuracy")
cv_results.mean()

0.8798473229744623

In [133]:
# Cross val Bagging
bg = BaggingClassifier(base_estimator=bs_et, n_estimators= 200)

cv_results = cross_val_score(bg, x, y, cv = 5, scoring="accuracy")
cv_results.mean()

0.9955784012834041