In [1]:
import numpy as np
import pandas as pd

In [2]:
data =pd.read_csv("/content/car_purchasing.csv",encoding='latin-1')

In [3]:
data

,customer name,customer e-mail,country,gender,age,annual Salary,credit card debt,net worth,car purchase amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248
...,...,...,...,...,...,...,...,...,...
495,Walter,ligula@Cumsociis.ca,Nepal,0,41.462515,71942.40291,6995.902524,541670.1016,48901.44342
496,Vanna,Cum.sociis.natoque@Sedmolestie.edu,Zimbabwe,1,37.642000,56039.49793,12301.456790,360419.0988,31491.41457
497,Pearl,penatibus.et@massanonante.com,Philippines,1,53.943497,68888.77805,10611.606860,764531.3203,64147.28888
498,Nell,Quisque.varius@arcuVivamussit.net,Botswana,1,59.160509,49811.99062,14013.034510,337826.6382,45442.15353
499,Marla,Camaron.marla@hotmail.com,marlal,1,46.731152,61370.67766,9391.341628,462946.4924,45107.22566

In [4]:
data["country"].unique()

array(['Bulgaria', 'Belize', 'Algeria', 'Cook Islands', 'Brazil',
       'Liberia', 'Syria', 'Czech Republic', 'Armenia', 'Somalia',
       'Sint Maarten', 'Greenland', 'Nicaragua', 'Palestine, State of',
       'United Arab Emirates', 'Gabon', 'Tokelau', 'Portugal', 'Chad',
       'Iraq', 'Sudan', 'Angola', 'Nigeria', 'Madagascar', 'Macedonia',
       'Oman', 'Colombia', 'Namibia', 'Denmark', 'Dominican Republic',
       'Costa Rica', 'Botswana', 'Saint Pierre and Miquelon', 'France',
       'Senegal', 'Cambodia', 'Suriname', 'Turkey', 'Ethiopia',
       'French Guiana', 'Bhutan', 'Georgia', 'Mozambique', 'Nauru',
       'Timor-Leste', 'Djibouti', 'Argentina', 'Taiwan', 'Åland Islands',
       'Turks and Caicos Islands', 'Samoa', 'Vanuatu', 'Mongolia',
       'Sri Lanka', 'Guinea-Bissau', 'Egypt', 'Slovenia', 'Benin',
       'Cape Verde', 'Paraguay', 'Laos', 'Iceland', 'Viet Nam',
       'Marshall Islands', 'Germany', 'Kyrgyzstan', 'Mauritius', 'Gambia',
       'Reunion', 'Jordan', 'Slovakia', 'Kiribati',
       'United States Minor Outlying Islands', 'Puerto Rico', 'Guinea',
       'Guam', 'China', 'Sierra Leone', 'Ecuador', 'Anguilla',
       'Kazakhstan', 'Jersey', 'Macao', 'Indonesia', 'Palau', 'Ghana',
       'Cameroon', 'Myanmar', 'Central African Republic', 'Bolivia',
       'Tuvalu', 'Qatar', 'Venezuela', 'Togo', 'Nepal', 'Saudi Arabia',
       'San Marino', 'Saint Lucia', 'Solomon Islands', 'Andorra',
       'Falkland Islands', 'Japan', 'Israel', 'Christmas Island',
       'Liechtenstein', 'Mayotte', 'Saint Kitts and Nevis', 'Maldives',
       'Aruba', 'Lebanon', 'Monaco', 'Martinique', 'Guadeloupe',
       'Equatorial Guinea', 'South Africa', 'Wallis and Futuna',
       'Tunisia', 'Pakistan', 'Bahrain', 'Serbia', 'Peru', 'Austria',
       'Lithuania', 'Curaçao', 'Zimbabwe', 'Uganda', 'Kenya', 'Kuwait',
       'Greece', 'Bouvet Island', 'Thailand', 'Bahamas', 'Latvia',
       'Hong Kong', 'French Polynesia', 'Yemen',
       'Heard Island and Mcdonald Islands', 'Virgin Islands, British',
       'Singapore', 'Cocos (Keeling) Islands', 'Saint Martin',
       'Northern Mariana Islands', 'Croatia', 'Malta', 'Mauritania',
       'Guyana', 'Haiti', 'Faroe Islands', 'Saint Barthélemy', 'Poland',
       'Congo (Brazzaville)', 'Guernsey', 'Sao Tome and Principe',
       'Grenada', 'United States', 'Virgin Islands, United States',
       'Bermuda', 'Norfolk Island', 'Italy', 'Bangladesh', 'Philippines',
       'French Southern Territories', 'Jamaica', 'Belarus',
       'Turkmenistan', 'Guatemala', 'Saint Vincent and The Grenadines',
       'Tonga', 'Papua New Guinea', 'Canada',
       'Bonaire, Sint Eustatius and Saba', 'El Salvador', 'Isle of Man',
       'Bosnia and Herzegovina', 'India', 'Trinidad and Tobago',
       'Moldova', 'Tanzania', 'Niue', 'Rwanda', 'Morocco',
       'Western Sahara', 'Micronesia', 'American Samoa',
       'United Kingdom (Great Britain)', 'Seychelles', 'Switzerland',
       'Chile', 'Uruguay', 'South Georgia and The South Sandwich Islands',
       'Afghanistan', 'Belgium', 'Antarctica', 'Korea, South',
       'Cayman Islands', 'Honduras', 'Mexico', 'Australia', 'Montenegro',
       'Luxembourg', 'Hungary', 'Niger', 'New Caledonia', 'Mali',
       'Malawi', 'South Sudan', 'Ukraine', 'New Zealand',
       'Saint Helena, Ascension and Tristan da Cunha', 'Malaysia',
       'marlal'], dtype=object)

In [5]:
data1= data.drop(["customer name","customer e-mail","gender","age"],axis=1)

In [6]:
data1

,country,annual Salary,credit card debt,net worth,car purchase amount
0,Bulgaria,62812.09301,11609.380910,238961.2505,35321.45877
1,Belize,66646.89292,9572.957136,530973.9078,45115.52566
2,Algeria,53798.55112,11160.355060,638467.1773,42925.70921
3,Cook Islands,79370.03798,14426.164850,548599.0524,67422.36313
4,Brazil,59729.15130,5358.712177,560304.0671,55915.46248
...,...,...,...,...,...
495,Nepal,71942.40291,6995.902524,541670.1016,48901.44342
496,Zimbabwe,56039.49793,12301.456790,360419.0988,31491.41457
497,Philippines,68888.77805,10611.606860,764531.3203,64147.28888
498,Botswana,49811.99062,14013.034510,337826.6382,45442.15353
499,marlal,61370.67766,9391.341628,462946.4924,45107.22566

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le=LabelEncoder()

In [9]:
data1["country"] = le.fit_transform(data1["country"])

In [10]:
data1["country"]

0       27
1       17
2        1
3       41
4       26
      ...
495    128
496    208
497    144
498     24
499    209
Name: country, Length: 500, dtype: int64

In [11]:
data1

,country,annual Salary,credit card debt,net worth,car purchase amount
0,27,62812.09301,11609.380910,238961.2505,35321.45877
1,17,66646.89292,9572.957136,530973.9078,45115.52566
2,1,53798.55112,11160.355060,638467.1773,42925.70921
3,41,79370.03798,14426.164850,548599.0524,67422.36313
4,26,59729.15130,5358.712177,560304.0671,55915.46248
...,...,...,...,...,...
495,128,71942.40291,6995.902524,541670.1016,48901.44342
496,208,56039.49793,12301.456790,360419.0988,31491.41457
497,144,68888.77805,10611.606860,764531.3203,64147.28888
498,24,49811.99062,14013.034510,337826.6382,45442.15353
499,209,61370.67766,9391.341628,462946.4924,45107.22566

In [12]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              500 non-null    int64
 1   annual Salary        500 non-null    float64
 2   credit card debt     500 non-null    float64
 3   net worth            500 non-null    float64
 4   car purchase amount  500 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 19.7 KB

In [13]:
data1.columns

Index(['country', 'annual Salary', 'credit card debt', 'net worth',
       'car purchase amount'],
      dtype='object')

In [14]:
x=data1.drop("car purchase amount",axis=1)
y=data1["car purchase amount"]

In [15]:
y

0      35321.45877
1      45115.52566
2      42925.70921
3      67422.36313
4      55915.46248
          ...
495    48901.44342
496    31491.41457
497    64147.28888
498    45442.15353
499    45107.22566
Name: car purchase amount, Length: 500, dtype: float64

In [16]:
x

     country  annual Salary  credit card debt    net worth
0         27    62812.09301      11609.380910  238961.2505
1         17    66646.89292       9572.957136  530973.9078
2          1    53798.55112      11160.355060  638467.1773
3         41    79370.03798      14426.164850  548599.0524
4         26    59729.15130       5358.712177  560304.0671
..       ...            ...               ...          ...
495      128    71942.40291       6995.902524  541670.1016
496      208    56039.49793      12301.456790  360419.0988
497      144    68888.77805      10611.606860  764531.3203
498       24    49811.99062      14013.034510  337826.6382
499      209    61370.67766       9391.341628  462946.4924

[500 rows x 4 columns]

In [17]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [18]:
data1

,country,annual Salary,credit card debt,net worth,car purchase amount
0,27,62812.09301,11609.380910,238961.2505,35321.45877
1,17,66646.89292,9572.957136,530973.9078,45115.52566
2,1,53798.55112,11160.355060,638467.1773,42925.70921
3,41,79370.03798,14426.164850,548599.0524,67422.36313
4,26,59729.15130,5358.712177,560304.0671,55915.46248
...,...,...,...,...,...
495,128,71942.40291,6995.902524,541670.1016,48901.44342
496,208,56039.49793,12301.456790,360419.0988,31491.41457
497,144,68888.77805,10611.606860,764531.3203,64147.28888
498,24,49811.99062,14013.034510,337826.6382,45442.15353
499,209,61370.67766,9391.341628,462946.4924,45107.22566

In [19]:
sc=StandardScaler()

In [20]:
req_cols=['country', 'annual Salary', 'credit card debt', 'net worth',
       'car purchase amount']

In [21]:
data1.loc[:,req_cols] = sc.fit_transform(data1[req_cols])

In [22]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=134)

In [23]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [24]:
x_train.shape, y_train.shape

((400, 4), (400,))

In [25]:
model = Sequential()
model.add(Dense(32, activation = "relu",input_shape = (4,)))
model.add(Dense(16, activation = "relu"))
model.add(Dense(1, activation = None))  
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                160

 dense_1 (Dense)             (None, 16)                528

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 705
Trainable params: 705
Non-trainable params: 0
_________________________________________________________________

In [26]:
model.compile(optimizer="adam",metrics = ["mse"], loss = "mean_squared_error")

In [30]:
model.fit(x_train, y_train , epochs = 200, batch_size= 10
          )

Epoch 1/200
40/40 [==============================] - 0s 2ms/step - loss: 1738.2131 - mse: 1738.2131
Epoch 2/200
40/40 [==============================] - 0s 2ms/step - loss: 1732.2786 - mse: 1732.2786
Epoch 3/200
40/40 [==============================] - 0s 2ms/step - loss: 2514.4438 - mse: 2514.4438
Epoch 4/200
40/40 [==============================] - 0s 2ms/step - loss: 1704.8914 - mse: 1704.8914
Epoch 5/200
40/40 [==============================] - 0s 2ms/step - loss: 1796.3668 - mse: 1796.3668
Epoch 6/200
40/40 [==============================] - 0s 2ms/step - loss: 2028.8356 - mse: 2028.8356
Epoch 7/200
40/40 [==============================] - 0s 2ms/step - loss: 1606.5739 - mse: 1606.5739
Epoch 8/200
40/40 [==============================] - 0s 2ms/step - loss: 1697.6277 - mse: 1697.6277
Epoch 9/200
40/40 [==============================] - 0s 2ms/step - loss: 1700.9047 - mse: 1700.9047
Epoch 10/200
40/40 [==============================] - 0s 2ms/step - loss: 2009.1591 - mse: 2009.1591
Epoch 11/200
40/40 [==============================] - 0s 2ms/step - loss: 1529.4749 - mse: 1529.4749
Epoch 12/200
40/40 [==============================] - 0s 2ms/step - loss: 1548.2661 - mse: 1548.2661
Epoch 13/200
40/40 [==============================] - 0s 2ms/step - loss: 1452.8660 - mse: 1452.8660
Epoch 14/200
40/40 [==============================] - 0s 2ms/step - loss: 1899.7488 - mse: 1899.7488
Epoch 15/200
40/40 [==============================] - 0s 2ms/step - loss: 3025.2727 - mse: 3025.2727
Epoch 16/200
40/40 [==============================] - 0s 2ms/step - loss: 4047.1548 - mse: 4047.1548
Epoch 17/200
40/40 [==============================] - 0s 2ms/step - loss: 2672.3425 - mse: 2672.3425
Epoch 18/200
40/40 [==============================] - 0s 2ms/step - loss: 1867.6436 - mse: 1867.6436
Epoch 19/200
40/40 [==============================] - 0s 2ms/step - loss: 1489.4923 - mse: 1489.4923
Epoch 20/200
40/40 [==============================] - 0s 2ms/step - loss: 1896.4053 - mse: 1896.4053
Epoch 21/200
40/40 [==============================] - 0s 2ms/step - loss: 3850.2566 - mse: 3850.2566
Epoch 22/200
40/40 [==============================] - 0s 2ms/step - loss: 3904.5725 - mse: 3904.5725
Epoch 23/200
40/40 [==============================] - 0s 2ms/step - loss: 4097.4863 - mse: 4097.4863
Epoch 24/200
40/40 [==============================] - 0s 2ms/step - loss: 1886.4236 - mse: 1886.4236
Epoch 25/200
40/40 [==============================] - 0s 2ms/step - loss: 2551.1841 - mse: 2551.1841
Epoch 26/200
40/40 [==============================] - 0s 2ms/step - loss: 2885.2649 - mse: 2885.2649
Epoch 27/200
40/40 [==============================] - 0s 2ms/step - loss: 1724.2942 - mse: 1724.2942
Epoch 28/200
40/40 [==============================] - 0s 2ms/step - loss: 2052.1873 - mse: 2052.1873
Epoch 29/200
40/40 [==============================] - 0s 2ms/step - loss: 2368.6309 - mse: 2368.6309
Epoch 30/200
40/40 [==============================] - 0s 2ms/step - loss: 1242.4406 - mse: 1242.4406
Epoch 31/200
40/40 [==============================] - 0s 2ms/step - loss: 1633.7538 - mse: 1633.7538
Epoch 32/200
40/40 [==============================] - 0s 2ms/step - loss: 1769.8799 - mse: 1769.8799
Epoch 33/200
40/40 [==============================] - 0s 2ms/step - loss: 3607.1772 - mse: 3607.1772
Epoch 34/200
40/40 [==============================] - 0s 2ms/step - loss: 2000.7080 - mse: 2000.7080
Epoch 35/200
40/40 [==============================] - 0s 2ms/step - loss: 2103.2993 - mse: 2103.2993
Epoch 36/200
40/40 [==============================] - 0s 2ms/step - loss: 5018.9722 - mse: 5018.9722
Epoch 37/200
40/40 [==============================] - 0s 2ms/step - loss: 8079.0376 - mse: 8079.0371
Epoch 38/200
40/40 [==============================] - 0s 2ms/step - loss: 2714.9282 - mse: 2714.9282
Epoch 39/200
40/40 [==============================] - 0s 2ms/step - loss: 7186.0464 - mse: 7186.0454
Epoch 40/200
40/40 [==============================] - 0s 2ms/step - loss: 4253.7588 - mse: 4253.7588
Epoch 41/200
40/40 [==============================] - 0s 2ms/step - loss: 1145.0713 - mse: 1145.0713
Epoch 42/200
40/40 [==============================] - 0s 2ms/step - loss: 1938.9353 - mse: 1938.9353
Epoch 43/200
40/40 [==============================] - 0s 2ms/step - loss: 1274.8907 - mse: 1274.8907
Epoch 44/200
40/40 [==============================] - 0s 2ms/step - loss: 5887.2612 - mse: 5887.2612
Epoch 45/200
40/40 [==============================] - 0s 2ms/step - loss: 5394.9058 - mse: 5394.9058
Epoch 46/200
40/40 [==============================] - 0s 2ms/step - loss: 8621.2939 - mse: 8621.2939
Epoch 47/200
40/40 [==============================] - 0s 2ms/step - loss: 3990.0947 - mse: 3990.0947
Epoch 48/200
40/40 [==============================] - 0s 2ms/step - loss: 4477.0518 - mse: 4477.0518
Epoch 49/200
40/40 [==============================] - 0s 2ms/step - loss: 2770.4619 - mse: 2770.4619
Epoch 50/200
40/40 [==============================] - 0s 2ms/step - loss: 2137.0498 - mse: 2137.0498
Epoch 51/200
40/40 [==============================] - 0s 2ms/step - loss: 1821.8477 - mse: 1821.8477
Epoch 52/200
40/40 [==============================] - 0s 2ms/step - loss: 1825.5216 - mse: 1825.5216
Epoch 53/200
40/40 [==============================] - 0s 2ms/step - loss: 6070.2793 - mse: 6070.2793
Epoch 54/200
40/40 [==============================] - 0s 2ms/step - loss: 1761.1785 - mse: 1761.1785
Epoch 55/200
40/40 [==============================] - 0s 2ms/step - loss: 1373.4989 - mse: 1373.4989
Epoch 56/200
40/40 [==============================] - 0s 2ms/step - loss: 12097.0127 - mse: 12097.0127
Epoch 57/200
40/40 [==============================] - 0s 2ms/step - loss: 22105.2383 - mse: 22105.2383
Epoch 58/200
40/40 [==============================] - 0s 2ms/step - loss: 1045.8916 - mse: 1045.8916
Epoch 59/200
40/40 [==============================] - 0s 2ms/step - loss: 22863.2754 - mse: 22863.2754
Epoch 60/200
40/40 [==============================] - 0s 2ms/step - loss: 16101.5498 - mse: 16101.5498
Epoch 61/200
40/40 [==============================] - 0s 2ms/step - loss: 9985.5410 - mse: 9985.5410
Epoch 62/200
40/40 [==============================] - 0s 2ms/step - loss: 5515.6382 - mse: 5515.6382
Epoch 63/200
40/40 [==============================] - 0s 2ms/step - loss: 9669.2754 - mse: 9669.2754
Epoch 64/200
40/40 [==============================] - 0s 2ms/step - loss: 11452.7412 - mse: 11452.7402
Epoch 65/200
40/40 [==============================] - 0s 2ms/step - loss: 48732.0664 - mse: 48732.0664
Epoch 66/200
40/40 [==============================] - 0s 2ms/step - loss: 24563.0020 - mse: 24563.0020
Epoch 67/200
40/40 [==============================] - 0s 2ms/step - loss: 5866.6289 - mse: 5866.6289
Epoch 68/200
40/40 [==============================] - 0s 2ms/step - loss: 5610.2412 - mse: 5610.2412
Epoch 69/200
40/40 [==============================] - 0s 2ms/step - loss: 16979.4277 - mse: 16979.4277
Epoch 70/200
40/40 [==============================] - 0s 2ms/step - loss: 1830.8103 - mse: 1830.8103
Epoch 71/200
40/40 [==============================] - 0s 2ms/step - loss: 3956.6353 - mse: 3956.6353
Epoch 72/200
40/40 [==============================] - 0s 2ms/step - loss: 9630.4873 - mse: 9630.4873
Epoch 73/200
40/40 [==============================] - 0s 2ms/step - loss: 2521.7393 - mse: 2521.7393
Epoch 74/200
40/40 [==============================] - 0s 2ms/step - loss: 1084.4414 - mse: 1084.4414
Epoch 75/200
40/40 [==============================] - 0s 2ms/step - loss: 5109.7651 - mse: 5109.7651
Epoch 76/200
40/40 [==============================] - 0s 2ms/step - loss: 274417.6875 - mse: 274417.6875
Epoch 77/200
40/40 [==============================] - 0s 2ms/step - loss: 770673.5000 - mse: 770673.5000
Epoch 78/200
40/40 [==============================] - 0s 2ms/step - loss: 49554.9141 - mse: 49554.9141
Epoch 79/200
40/40 [==============================] - 0s 2ms/step - loss: 11250.4814 - mse: 11250.4814
Epoch 80/200
40/40 [==============================] - 0s 2ms/step - loss: 16347.0342 - mse: 16347.0342
Epoch 81/200
40/40 [==============================] - 0s 2ms/step - loss: 37182.5078 - mse: 37182.5078
Epoch 82/200
40/40 [==============================] - 0s 2ms/step - loss: 8940.5791 - mse: 8940.5791
Epoch 83/200
40/40 [==============================] - 0s 2ms/step - loss: 1239.9530 - mse: 1239.9530
Epoch 84/200
40/40 [==============================] - 0s 2ms/step - loss: 822.8551 - mse: 822.8551
Epoch 85/200
40/40 [==============================] - 0s 2ms/step - loss: 325.8851 - mse: 325.8851
Epoch 86/200
40/40 [==============================] - 0s 2ms/step - loss: 296.7487 - mse: 296.7487
Epoch 87/200
40/40 [==============================] - 0s 2ms/step - loss: 412.4772 - mse: 412.4772
Epoch 88/200
40/40 [==============================] - 0s 2ms/step - loss: 286.9195 - mse: 286.9195
Epoch 89/200
40/40 [==============================] - 0s 2ms/step - loss: 311.2100 - mse: 311.2100
Epoch 90/200
40/40 [==============================] - 0s 2ms/step - loss: 272.9910 - mse: 272.9910
Epoch 91/200
40/40 [==============================] - 0s 2ms/step - loss: 240.9498 - mse: 240.9498
Epoch 92/200
40/40 [==============================] - 0s 2ms/step - loss: 679.4462 - mse: 679.4462
Epoch 93/200
40/40 [==============================] - 0s 2ms/step - loss: 452.6620 - mse: 452.6620
Epoch 94/200
40/40 [==============================] - 0s 2ms/step - loss: 611.5825 - mse: 611.5825
Epoch 95/200
40/40 [==============================] - 0s 2ms/step - loss: 1426.0624 - mse: 1426.0624
Epoch 96/200
40/40 [==============================] - 0s 2ms/step - loss: 7200.4014 - mse: 7200.4014
Epoch 97/200
40/40 [==============================] - 0s 2ms/step - loss: 29819.9316 - mse: 29819.9297
Epoch 98/200
40/40 [==============================] - 0s 2ms/step - loss: 7604.6465 - mse: 7604.6465
Epoch 99/200
40/40 [==============================] - 0s 2ms/step - loss: 823.6058 - mse: 823.6058
Epoch 100/200
40/40 [==============================] - 0s 2ms/step - loss: 1010.8414 - mse: 1010.8413
Epoch 101/200
40/40 [==============================] - 0s 2ms/step - loss: 1301.0588 - mse: 1301.0588
Epoch 102/200
40/40 [==============================] - 0s 2ms/step - loss: 5519.4561 - mse: 5519.4551
Epoch 103/200
40/40 [==============================] - 0s 2ms/step - loss: 7282.4575 - mse: 7282.4575
Epoch 104/200
40/40 [==============================] - 0s 2ms/step - loss: 6630.3979 - mse: 6630.3989
Epoch 105/200
40/40 [==============================] - 0s 2ms/step - loss: 3962.3413 - mse: 3962.3413
Epoch 106/200
40/40 [==============================] - 0s 2ms/step - loss: 13688.1689 - mse: 13688.1689
Epoch 107/200
40/40 [==============================] - 0s 2ms/step - loss: 85935.3438 - mse: 85935.3438
Epoch 108/200
40/40 [==============================] - 0s 2ms/step - loss: 533582.9375 - mse: 533582.9375
Epoch 109/200
40/40 [==============================] - 0s 2ms/step - loss: 330618.8125 - mse: 330618.8125
Epoch 110/200
40/40 [==============================] - 0s 2ms/step - loss: 41331.1016 - mse: 41331.1016
Epoch 111/200
40/40 [==============================] - 0s 2ms/step - loss: 6112.9980 - mse: 6112.9980
Epoch 112/200
40/40 [==============================] - 0s 2ms/step - loss: 6329.0181 - mse: 6329.0181
Epoch 113/200
40/40 [==============================] - 0s 2ms/step - loss: 976.7737 - mse: 976.7737
Epoch 114/200
40/40 [==============================] - 0s 2ms/step - loss: 469.0769 - mse: 469.0769
Epoch 115/200
40/40 [==============================] - 0s 2ms/step - loss: 392.0844 - mse: 392.0844
Epoch 116/200
40/40 [==============================] - 0s 2ms/step - loss: 1122.8093 - mse: 1122.8093
Epoch 117/200
40/40 [==============================] - 0s 2ms/step - loss: 1041.7311 - mse: 1041.7311
Epoch 118/200
40/40 [==============================] - 0s 2ms/step - loss: 940.3985 - mse: 940.3985
Epoch 119/200
40/40 [==============================] - 0s 2ms/step - loss: 1384.3176 - mse: 1384.3176
Epoch 120/200
40/40 [==============================] - 0s 2ms/step - loss: 939.4579 - mse: 939.4579
Epoch 121/200
40/40 [==============================] - 0s 2ms/step - loss: 975.2927 - mse: 975.2927
Epoch 122/200
40/40 [==============================] - 0s 2ms/step - loss: 8975.3066 - mse: 8975.3066
Epoch 123/200
40/40 [==============================] - 0s 2ms/step - loss: 7544.5688 - mse: 7544.5688
Epoch 124/200
40/40 [==============================] - 0s 2ms/step - loss: 241613.5469 - mse: 241613.5469
Epoch 125/200
40/40 [==============================] - 0s 2ms/step - loss: 27919.2656 - mse: 27919.2598
Epoch 126/200
40/40 [==============================] - 0s 2ms/step - loss: 10974.6738 - mse: 10974.6738
Epoch 127/200
40/40 [==============================] - 0s 2ms/step - loss: 477.6370 - mse: 477.6370
Epoch 128/200
40/40 [==============================] - 0s 2ms/step - loss: 1959.0367 - mse: 1959.0367
Epoch 129/200
40/40 [==============================] - 0s 2ms/step - loss: 632.8976 - mse: 632.8976
Epoch 130/200
40/40 [==============================] - 0s 2ms/step - loss: 1085.7787 - mse: 1085.7787
Epoch 131/200
40/40 [==============================] - 0s 2ms/step - loss: 1457.9067 - mse: 1457.9067
Epoch 132/200
40/40 [==============================] - 0s 2ms/step - loss: 403.1665 - mse: 403.1665
Epoch 133/200
40/40 [==============================] - 0s 2ms/step - loss: 1166.5183 - mse: 1166.5183
Epoch 134/200
40/40 [==============================] - 0s 2ms/step - loss: 1705.2917 - mse: 1705.2917
Epoch 135/200
40/40 [==============================] - 0s 2ms/step - loss: 375.1029 - mse: 375.1029
Epoch 136/200
40/40 [==============================] - 0s 2ms/step - loss: 3639.3928 - mse: 3639.3928
Epoch 137/200
40/40 [==============================] - 0s 2ms/step - loss: 6990.9492 - mse: 6990.9492
Epoch 138/200
40/40 [==============================] - 0s 2ms/step - loss: 14877.7861 - mse: 14877.7861
Epoch 139/200
40/40 [==============================] - 0s 2ms/step - loss: 2464.8374 - mse: 2464.8374
Epoch 140/200
40/40 [==============================] - 0s 2ms/step - loss: 3911.8357 - mse: 3911.8357
Epoch 141/200
40/40 [==============================] - 0s 2ms/step - loss: 3707.8267 - mse: 3707.8267
Epoch 142/200
40/40 [==============================] - 0s 2ms/step - loss: 26490.7617 - mse: 26490.7617
Epoch 143/200
40/40 [==============================] - 0s 2ms/step - loss: 494825.8125 - mse: 494825.8125
Epoch 144/200
40/40 [==============================] - 0s 2ms/step - loss: 375923.7188 - mse: 375923.7188
Epoch 145/200
40/40 [==============================] - 0s 2ms/step - loss: 28751.0293 - mse: 28751.0293
Epoch 146/200
40/40 [==============================] - 0s 2ms/step - loss: 1282.3126 - mse: 1282.3126
Epoch 147/200
40/40 [==============================] - 0s 2ms/step - loss: 551.3306 - mse: 551.3306
Epoch 148/200
40/40 [==============================] - 0s 2ms/step - loss: 1483.1238 - mse: 1483.1238
Epoch 149/200
40/40 [==============================] - 0s 2ms/step - loss: 1946.0707 - mse: 1946.0707
Epoch 150/200
40/40 [==============================] - 0s 2ms/step - loss: 1002.4373 - mse: 1002.4373
Epoch 151/200
40/40 [==============================] - 0s 2ms/step - loss: 429.1307 - mse: 429.1307
Epoch 152/200
40/40 [==============================] - 0s 2ms/step - loss: 606.1534 - mse: 606.1534
Epoch 153/200
40/40 [==============================] - 0s 2ms/step - loss: 1811.0251 - mse: 1811.0251
Epoch 154/200
40/40 [==============================] - 0s 2ms/step - loss: 4595.1089 - mse: 4595.1089
Epoch 155/200
40/40 [==============================] - 0s 2ms/step - loss: 11744.5928 - mse: 11744.5928
Epoch 156/200
40/40 [==============================] - 0s 2ms/step - loss: 10361.3623 - mse: 10361.3623
Epoch 157/200
40/40 [==============================] - 0s 2ms/step - loss: 5832.8242 - mse: 5832.8242
Epoch 158/200
40/40 [==============================] - 0s 2ms/step - loss: 649.1750 - mse: 649.1750
Epoch 159/200
40/40 [==============================] - 0s 2ms/step - loss: 1060.1978 - mse: 1060.1978
Epoch 160/200
40/40 [==============================] - 0s 2ms/step - loss: 4301.0430 - mse: 4301.0430
Epoch 161/200
40/40 [==============================] - 0s 2ms/step - loss: 2172.0510 - mse: 2172.0510
Epoch 162/200
40/40 [==============================] - 0s 2ms/step - loss: 3142.7756 - mse: 3142.7756
Epoch 163/200
40/40 [==============================] - 0s 2ms/step - loss: 10242.3809 - mse: 10242.3809
Epoch 164/200
40/40 [==============================] - 0s 2ms/step - loss: 11717.3447 - mse: 11717.3447
Epoch 165/200
40/40 [==============================] - 0s 2ms/step - loss: 2577.6389 - mse: 2577.6389
Epoch 166/200
40/40 [==============================] - 0s 2ms/step - loss: 461.0043 - mse: 461.0043
Epoch 167/200
40/40 [==============================] - 0s 2ms/step - loss: 13171.9365 - mse: 13171.9365
Epoch 168/200
40/40 [==============================] - 0s 2ms/step - loss: 59014.3242 - mse: 59014.3242
Epoch 169/200
40/40 [==============================] - 0s 2ms/step - loss: 12082.1660 - mse: 12082.1660
Epoch 170/200
40/40 [==============================] - 0s 2ms/step - loss: 167537.7031 - mse: 167537.7031
Epoch 171/200
40/40 [==============================] - 0s 2ms/step - loss: 37856.1758 - mse: 37856.1758
Epoch 172/200
40/40 [==============================] - 0s 2ms/step - loss: 70566.3359 - mse: 70566.3359
Epoch 173/200
40/40 [==============================] - 0s 2ms/step - loss: 1666210.1250 - mse: 1666210.1250
Epoch 174/200
40/40 [==============================] - 0s 2ms/step - loss: 365472.3125 - mse: 365472.3125
Epoch 175/200
40/40 [==============================] - 0s 2ms/step - loss: 66624.1719 - mse: 66624.1719
Epoch 176/200
40/40 [==============================] - 0s 2ms/step - loss: 5264.3979 - mse: 5264.3979
Epoch 177/200
40/40 [==============================] - 0s 2ms/step - loss: 525.9330 - mse: 525.9330
Epoch 178/200
40/40 [==============================] - 0s 2ms/step - loss: 243.2294 - mse: 243.2294
Epoch 179/200
40/40 [==============================] - 0s 2ms/step - loss: 169.5258 - mse: 169.5258
Epoch 180/200
40/40 [==============================] - 0s 2ms/step - loss: 229.7565 - mse: 229.7565
Epoch 181/200
40/40 [==============================] - 0s 2ms/step - loss: 150.5841 - mse: 150.5841
Epoch 182/200
40/40 [==============================] - 0s 2ms/step - loss: 183.5821 - mse: 183.5821
Epoch 183/200
40/40 [==============================] - 0s 2ms/step - loss: 143.1129 - mse: 143.1129
Epoch 184/200
40/40 [==============================] - 0s 2ms/step - loss: 96.4046 - mse: 96.4046
Epoch 185/200
40/40 [==============================] - 0s 2ms/step - loss: 154.1226 - mse: 154.1226
Epoch 186/200
40/40 [==============================] - 0s 2ms/step - loss: 90.0560 - mse: 90.0560
Epoch 187/200
40/40 [==============================] - 0s 2ms/step - loss: 100.4199 - mse: 100.4199
Epoch 188/200
40/40 [==============================] - 0s 2ms/step - loss: 92.7958 - mse: 92.7958
Epoch 189/200
40/40 [==============================] - 0s 2ms/step - loss: 95.6445 - mse: 95.6445
Epoch 190/200
40/40 [==============================] - 0s 2ms/step - loss: 83.0124 - mse: 83.0124
Epoch 191/200
40/40 [==============================] - 0s 2ms/step - loss: 104.3175 - mse: 104.3175
Epoch 192/200
40/40 [==============================] - 0s 2ms/step - loss: 58.2047 - mse: 58.2047
Epoch 193/200
40/40 [==============================] - 0s 2ms/step - loss: 118.3571 - mse: 118.3571
Epoch 194/200
40/40 [==============================] - 0s 2ms/step - loss: 130.4657 - mse: 130.4657
Epoch 195/200
40/40 [==============================] - 0s 2ms/step - loss: 290.7838 - mse: 290.7838
Epoch 196/200
40/40 [==============================] - 0s 2ms/step - loss: 139.0475 - mse: 139.0475
Epoch 197/200
40/40 [==============================] - 0s 2ms/step - loss: 86.2796 - mse: 86.2796
Epoch 198/200

In [31]:
y_pred =model.predict(x_test)

4/4 [==============================] - 0s 2ms/step

In [32]:
from sklearn.metrics import mean_squared_error

In [33]:
mean_squared_error(y_test, y_pred)

229.71354691454914

In [51]:
model1 = Sequential()
model1.add(Dense(32, activation = "linear",input_shape = (4,)))
model1.add(Dense(16, activation = "relu"))
model1.add(Dense(16, activation = "relu"))
model1.add(Dense(16, activation = "relu"))
model1.add(Dense(16, activation = "relu"))
model1.add(Dense(1, activation = "linear"))  
model1.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 32)                160

 dense_16 (Dense)            (None, 16)                528

 dense_17 (Dense)            (None, 16)                272

 dense_18 (Dense)            (None, 16)                272

 dense_19 (Dense)            (None, 16)                272

 dense_20 (Dense)            (None, 1)                 17

=================================================================
Total params: 1,521
Trainable params: 1,521
Non-trainable params: 0
_________________________________________________________________

In [52]:
model1.compile(optimizer="adam",metrics = ["mse"], loss = "mean_squared_error")

In [53]:
model1.fit(x_train, y_train , epochs = 200, batch_size= 10)

Epoch 1/200
40/40 [==============================] - 1s 3ms/step - loss: 5424811.0000 - mse: 5424811.0000
Epoch 2/200
40/40 [==============================] - 0s 2ms/step - loss: 46689.6758 - mse: 46689.6758
Epoch 3/200
40/40 [==============================] - 0s 2ms/step - loss: 10744.2676 - mse: 10744.2676
Epoch 4/200
40/40 [==============================] - 0s 2ms/step - loss: 5345.8931 - mse: 5345.8931
Epoch 5/200
40/40 [==============================] - 0s 2ms/step - loss: 3233.8613 - mse: 3233.8613
Epoch 6/200
40/40 [==============================] - 0s 2ms/step - loss: 2268.9758 - mse: 2268.9758
Epoch 7/200
40/40 [==============================] - 0s 2ms/step - loss: 1360.0585 - mse: 1360.0585
Epoch 8/200
40/40 [==============================] - 0s 2ms/step - loss: 940.4077 - mse: 940.4076
Epoch 9/200
40/40 [==============================] - 0s 2ms/step - loss: 691.5581 - mse: 691.5581
Epoch 10/200
40/40 [==============================] - 0s 3ms/step - loss: 560.8287 - mse: 560.8287
Epoch 11/200
40/40 [==============================] - 0s 2ms/step - loss: 512.3950 - mse: 512.3950
Epoch 12/200
40/40 [==============================] - 0s 2ms/step - loss: 437.2129 - mse: 437.2129
Epoch 13/200
40/40 [==============================] - 0s 2ms/step - loss: 369.2834 - mse: 369.2834
Epoch 14/200
40/40 [==============================] - 0s 2ms/step - loss: 328.1422 - mse: 328.1422
Epoch 15/200
40/40 [==============================] - 0s 2ms/step - loss: 287.7167 - mse: 287.7167
Epoch 16/200
40/40 [==============================] - 0s 2ms/step - loss: 288.2985 - mse: 288.2985
Epoch 17/200
40/40 [==============================] - 0s 2ms/step - loss: 250.4275 - mse: 250.4275
Epoch 18/200
40/40 [==============================] - 0s 2ms/step - loss: 237.5678 - mse: 237.5678
Epoch 19/200
40/40 [==============================] - 0s 2ms/step - loss: 231.9548 - mse: 231.9548
Epoch 20/200
40/40 [==============================] - 0s 2ms/step - loss: 199.4402 - mse: 199.4402
Epoch 21/200
40/40 [==============================] - 0s 2ms/step - loss: 184.6652 - mse: 184.6652
Epoch 22/200
40/40 [==============================] - 0s 3ms/step - loss: 177.6733 - mse: 177.6733
Epoch 23/200
40/40 [==============================] - 0s 2ms/step - loss: 160.5492 - mse: 160.5492
Epoch 24/200
40/40 [==============================] - 0s 2ms/step - loss: 145.7777 - mse: 145.7777
Epoch 25/200
40/40 [==============================] - 0s 2ms/step - loss: 138.3919 - mse: 138.3919
Epoch 26/200
40/40 [==============================] - 0s 2ms/step - loss: 128.4123 - mse: 128.4123
Epoch 27/200
40/40 [==============================] - 0s 3ms/step - loss: 122.1874 - mse: 122.1874
Epoch 28/200
40/40 [==============================] - 0s 2ms/step - loss: 130.8177 - mse: 130.8177
Epoch 29/200
40/40 [==============================] - 0s 2ms/step - loss: 114.0320 - mse: 114.0320
Epoch 30/200
40/40 [==============================] - 0s 2ms/step - loss: 104.9685 - mse: 104.9685
Epoch 31/200
40/40 [==============================] - 0s 2ms/step - loss: 102.3861 - mse: 102.3861
Epoch 32/200
40/40 [==============================] - 0s 2ms/step - loss: 94.1524 - mse: 94.1524
Epoch 33/200
40/40 [==============================] - 0s 2ms/step - loss: 90.9049 - mse: 90.9049
Epoch 34/200
40/40 [==============================] - 0s 2ms/step - loss: 90.4529 - mse: 90.4529
Epoch 35/200
40/40 [==============================] - 0s 2ms/step - loss: 84.8148 - mse: 84.8148
Epoch 36/200
40/40 [==============================] - 0s 2ms/step - loss: 77.8106 - mse: 77.8106
Epoch 37/200
40/40 [==============================] - 0s 2ms/step - loss: 74.2832 - mse: 74.2832
Epoch 38/200
40/40 [==============================] - 0s 2ms/step - loss: 71.8044 - mse: 71.8044
Epoch 39/200
40/40 [==============================] - 0s 2ms/step - loss: 74.1540 - mse: 74.1540
Epoch 40/200
40/40 [==============================] - 0s 2ms/step - loss: 68.5658 - mse: 68.5658
Epoch 41/200
40/40 [==============================] - 0s 2ms/step - loss: 69.2132 - mse: 69.2132
Epoch 42/200
40/40 [==============================] - 0s 2ms/step - loss: 63.8412 - mse: 63.8412
Epoch 43/200
40/40 [==============================] - 0s 2ms/step - loss: 66.8374 - mse: 66.8374
Epoch 44/200
40/40 [==============================] - 0s 2ms/step - loss: 68.1011 - mse: 68.1011
Epoch 45/200
40/40 [==============================] - 0s 2ms/step - loss: 61.5753 - mse: 61.5753
Epoch 46/200
40/40 [==============================] - 0s 2ms/step - loss: 62.9314 - mse: 62.9314
Epoch 47/200
40/40 [==============================] - 0s 3ms/step - loss: 58.9489 - mse: 58.9489
Epoch 48/200
40/40 [==============================] - 0s 2ms/step - loss: 58.9286 - mse: 58.9286
Epoch 49/200
40/40 [==============================] - 0s 2ms/step - loss: 55.2428 - mse: 55.2428
Epoch 50/200
40/40 [==============================] - 0s 2ms/step - loss: 55.4099 - mse: 55.4099
Epoch 51/200
40/40 [==============================] - 0s 2ms/step - loss: 59.4296 - mse: 59.4296
Epoch 52/200
40/40 [==============================] - 0s 2ms/step - loss: 53.6111 - mse: 53.6111
Epoch 53/200
40/40 [==============================] - 0s 2ms/step - loss: 52.0513 - mse: 52.0513
Epoch 54/200
40/40 [==============================] - 0s 2ms/step - loss: 54.6802 - mse: 54.6802
Epoch 55/200
40/40 [==============================] - 0s 2ms/step - loss: 56.8212 - mse: 56.8212
Epoch 56/200
40/40 [==============================] - 0s 2ms/step - loss: 50.2163 - mse: 50.2163
Epoch 57/200
40/40 [==============================] - 0s 2ms/step - loss: 55.1903 - mse: 55.1903
Epoch 58/200
40/40 [==============================] - 0s 2ms/step - loss: 53.1929 - mse: 53.1929
Epoch 59/200
40/40 [==============================] - 0s 2ms/step - loss: 50.7013 - mse: 50.7013
Epoch 60/200
40/40 [==============================] - 0s 2ms/step - loss: 48.1838 - mse: 48.1838
Epoch 61/200
40/40 [==============================] - 0s 3ms/step - loss: 48.6160 - mse: 48.6160
Epoch 62/200
40/40 [==============================] - 0s 2ms/step - loss: 47.8955 - mse: 47.8955
Epoch 63/200
40/40 [==============================] - 0s 2ms/step - loss: 45.3977 - mse: 45.3977
Epoch 64/200
40/40 [==============================] - 0s 2ms/step - loss: 53.5870 - mse: 53.5870
Epoch 65/200
40/40 [==============================] - 0s 2ms/step - loss: 56.3307 - mse: 56.3307
Epoch 66/200
40/40 [==============================] - 0s 2ms/step - loss: 53.9614 - mse: 53.9614
Epoch 67/200
40/40 [==============================] - 0s 2ms/step - loss: 54.0661 - mse: 54.0661
Epoch 68/200
40/40 [==============================] - 0s 2ms/step - loss: 94.0881 - mse: 94.0881
Epoch 69/200
40/40 [==============================] - 0s 2ms/step - loss: 118.3580 - mse: 118.3580
Epoch 70/200
40/40 [==============================] - 0s 2ms/step - loss: 55.6937 - mse: 55.6937
Epoch 71/200
40/40 [==============================] - 0s 2ms/step - loss: 41.0233 - mse: 41.0233
Epoch 72/200
40/40 [==============================] - 0s 3ms/step - loss: 43.7338 - mse: 43.7338
Epoch 73/200
40/40 [==============================] - 0s 2ms/step - loss: 41.6528 - mse: 41.6528
Epoch 74/200
40/40 [==============================] - 0s 2ms/step - loss: 42.1169 - mse: 42.1169
Epoch 75/200
40/40 [==============================] - 0s 2ms/step - loss: 39.5288 - mse: 39.5288
Epoch 76/200
40/40 [==============================] - 0s 2ms/step - loss: 44.3551 - mse: 44.3551
Epoch 77/200
40/40 [==============================] - 0s 2ms/step - loss: 39.6263 - mse: 39.6263
Epoch 78/200
40/40 [==============================] - 0s 2ms/step - loss: 40.9505 - mse: 40.9505
Epoch 79/200
40/40 [==============================] - 0s 2ms/step - loss: 45.2136 - mse: 45.2136
Epoch 80/200
40/40 [==============================] - 0s 3ms/step - loss: 37.9622 - mse: 37.9622
Epoch 81/200
40/40 [==============================] - 0s 2ms/step - loss: 39.8485 - mse: 39.8485
Epoch 82/200
40/40 [==============================] - 0s 3ms/step - loss: 36.8637 - mse: 36.8637
Epoch 83/200
40/40 [==============================] - 0s 2ms/step - loss: 50.4026 - mse: 50.4026
Epoch 84/200
40/40 [==============================] - 0s 2ms/step - loss: 42.4080 - mse: 42.4080
Epoch 85/200
40/40 [==============================] - 0s 2ms/step - loss: 37.8949 - mse: 37.8949
Epoch 86/200
40/40 [==============================] - 0s 2ms/step - loss: 33.5406 - mse: 33.5406
Epoch 87/200
40/40 [==============================] - 0s 2ms/step - loss: 36.0630 - mse: 36.0630
Epoch 88/200
40/40 [==============================] - 0s 2ms/step - loss: 35.9470 - mse: 35.9470
Epoch 89/200
40/40 [==============================] - 0s 3ms/step - loss: 43.5952 - mse: 43.5952
Epoch 90/200
40/40 [==============================] - 0s 3ms/step - loss: 40.5825 - mse: 40.5825
Epoch 91/200
40/40 [==============================] - 0s 3ms/step - loss: 39.7472 - mse: 39.7472
Epoch 92/200
40/40 [==============================] - 0s 2ms/step - loss: 43.9829 - mse: 43.9829
Epoch 93/200
40/40 [==============================] - 0s 3ms/step - loss: 54.9012 - mse: 54.9012
Epoch 94/200
40/40 [==============================] - 0s 3ms/step - loss: 43.4855 - mse: 43.4855
Epoch 95/200
40/40 [==============================] - 0s 3ms/step - loss: 43.4446 - mse: 43.4446
Epoch 96/200
40/40 [==============================] - 0s 2ms/step - loss: 40.6950 - mse: 40.6950
Epoch 97/200
40/40 [==============================] - 0s 2ms/step - loss: 40.7850 - mse: 40.7850
Epoch 98/200
40/40 [==============================] - 0s 2ms/step - loss: 38.1634 - mse: 38.1634
Epoch 99/200
40/40 [==============================] - 0s 2ms/step - loss: 60.0909 - mse: 60.0909
Epoch 100/200
40/40 [==============================] - 0s 3ms/step - loss: 101.6913 - mse: 101.6913
Epoch 101/200
40/40 [==============================] - 0s 2ms/step - loss: 69.0185 - mse: 69.0185
Epoch 102/200
40/40 [==============================] - 0s 3ms/step - loss: 191.9542 - mse: 191.9542
Epoch 103/200
40/40 [==============================] - 0s 2ms/step - loss: 287.7342 - mse: 287.7342
Epoch 104/200
40/40 [==============================] - 0s 2ms/step - loss: 182.7776 - mse: 182.7776
Epoch 105/200
40/40 [==============================] - 0s 2ms/step - loss: 107.6356 - mse: 107.6356
Epoch 106/200
40/40 [==============================] - 0s 2ms/step - loss: 52.9617 - mse: 52.9617
Epoch 107/200
40/40 [==============================] - 0s 2ms/step - loss: 41.8093 - mse: 41.8093
Epoch 108/200
40/40 [==============================] - 0s 2ms/step - loss: 44.3578 - mse: 44.3578
Epoch 109/200
40/40 [==============================] - 0s 2ms/step - loss: 36.2333 - mse: 36.2333
Epoch 110/200
40/40 [==============================] - 0s 2ms/step - loss: 39.0714 - mse: 39.0714
Epoch 111/200
40/40 [==============================] - 0s 2ms/step - loss: 33.3437 - mse: 33.3437
Epoch 112/200
40/40 [==============================] - 0s 2ms/step - loss: 32.1138 - mse: 32.1138
Epoch 113/200
40/40 [==============================] - 0s 3ms/step - loss: 33.8396 - mse: 33.8396
Epoch 114/200
40/40 [==============================] - 0s 2ms/step - loss: 48.4587 - mse: 48.4587
Epoch 115/200
40/40 [==============================] - 0s 2ms/step - loss: 38.2128 - mse: 38.2128
Epoch 116/200
40/40 [==============================] - 0s 2ms/step - loss: 30.4690 - mse: 30.4690
Epoch 117/200
40/40 [==============================] - 0s 2ms/step - loss: 26.3854 - mse: 26.3854
Epoch 118/200
40/40 [==============================] - 0s 2ms/step - loss: 25.8464 - mse: 25.8464
Epoch 119/200
40/40 [==============================] - 0s 2ms/step - loss: 30.6768 - mse: 30.6768
Epoch 120/200
40/40 [==============================] - 0s 2ms/step - loss: 27.1732 - mse: 27.1732
Epoch 121/200
40/40 [==============================] - 0s 2ms/step - loss: 27.7605 - mse: 27.7605
Epoch 122/200
40/40 [==============================] - 0s 3ms/step - loss: 23.8839 - mse: 23.8839
Epoch 123/200
40/40 [==============================] - 0s 2ms/step - loss: 26.8992 - mse: 26.8992
Epoch 124/200
40/40 [==============================] - 0s 2ms/step - loss: 28.2539 - mse: 28.2539
Epoch 125/200
40/40 [==============================] - 0s 2ms/step - loss: 25.5148 - mse: 25.5148
Epoch 126/200
40/40 [==============================] - 0s 2ms/step - loss: 48.4420 - mse: 48.4420
Epoch 127/200
40/40 [==============================] - 0s 2ms/step - loss: 37.7486 - mse: 37.7486
Epoch 128/200
40/40 [==============================] - 0s 2ms/step - loss: 32.4897 - mse: 32.4897
Epoch 129/200
40/40 [==============================] - 0s 2ms/step - loss: 34.1774 - mse: 34.1774
Epoch 130/200
40/40 [==============================] - 0s 3ms/step - loss: 26.9526 - mse: 26.9526
Epoch 131/200
40/40 [==============================] - 0s 2ms/step - loss: 26.0453 - mse: 26.0453
Epoch 132/200
40/40 [==============================] - 0s 2ms/step - loss: 20.4988 - mse: 20.4988
Epoch 133/200
40/40 [==============================] - 0s 2ms/step - loss: 24.3878 - mse: 24.3878
Epoch 134/200
40/40 [==============================] - 0s 2ms/step - loss: 33.4717 - mse: 33.4717
Epoch 135/200
40/40 [==============================] - 0s 2ms/step - loss: 28.1630 - mse: 28.1630
Epoch 136/200
40/40 [==============================] - 0s 2ms/step - loss: 26.3764 - mse: 26.3764
Epoch 137/200
40/40 [==============================] - 0s 2ms/step - loss: 25.7276 - mse: 25.7276
Epoch 138/200
40/40 [==============================] - 0s 2ms/step - loss: 26.7327 - mse: 26.7327
Epoch 139/200
40/40 [==============================] - 0s 2ms/step - loss: 38.3392 - mse: 38.3392
Epoch 140/200
40/40 [==============================] - 0s 3ms/step - loss: 42.6424 - mse: 42.6424
Epoch 141/200
40/40 [==============================] - 0s 2ms/step - loss: 28.8967 - mse: 28.8967
Epoch 142/200
40/40 [==============================] - 0s 2ms/step - loss: 46.5944 - mse: 46.5944
Epoch 143/200
40/40 [==============================] - 0s 2ms/step - loss: 97.8046 - mse: 97.8046
Epoch 144/200
40/40 [==============================] - 0s 3ms/step - loss: 29.8968 - mse: 29.8968
Epoch 145/200
40/40 [==============================] - 0s 2ms/step - loss: 28.1490 - mse: 28.1490
Epoch 146/200
40/40 [==============================] - 0s 2ms/step - loss: 29.1279 - mse: 29.1279
Epoch 147/200
40/40 [==============================] - 0s 2ms/step - loss: 27.0900 - mse: 27.0900
Epoch 148/200
40/40 [==============================] - 0s 2ms/step - loss: 45.8566 - mse: 45.8566
Epoch 149/200
40/40 [==============================] - 0s 2ms/step - loss: 178.1784 - mse: 178.1784
Epoch 150/200
40/40 [==============================] - 0s 3ms/step - loss: 54.9769 - mse: 54.9769
Epoch 151/200
40/40 [==============================] - 0s 3ms/step - loss: 69.6668 - mse: 69.6668
Epoch 152/200
40/40 [==============================] - 0s 2ms/step - loss: 91.7892 - mse: 91.7892
Epoch 153/200
40/40 [==============================] - 0s 2ms/step - loss: 42.3248 - mse: 42.3248
Epoch 154/200
40/40 [==============================] - 0s 2ms/step - loss: 57.3007 - mse: 57.3007
Epoch 155/200
40/40 [==============================] - 0s 2ms/step - loss: 68.7684 - mse: 68.7684
Epoch 156/200
40/40 [==============================] - 0s 2ms/step - loss: 163.2747 - mse: 163.2747
Epoch 157/200
40/40 [==============================] - 0s 2ms/step - loss: 126.5495 - mse: 126.5495
Epoch 158/200
40/40 [==============================] - 0s 2ms/step - loss: 179.8772 - mse: 179.8772
Epoch 159/200
40/40 [==============================] - 0s 2ms/step - loss: 237.7035 - mse: 237.7035
Epoch 160/200
40/40 [==============================] - 0s 2ms/step - loss: 61.0259 - mse: 61.0259
Epoch 161/200
40/40 [==============================] - 0s 2ms/step - loss: 35.2519 - mse: 35.2519
Epoch 162/200
40/40 [==============================] - 0s 2ms/step - loss: 34.7312 - mse: 34.7312
Epoch 163/200
40/40 [==============================] - 0s 3ms/step - loss: 32.0654 - mse: 32.0654
Epoch 164/200
40/40 [==============================] - 0s 2ms/step - loss: 23.2807 - mse: 23.2807
Epoch 165/200
40/40 [==============================] - 0s 2ms/step - loss: 34.9527 - mse: 34.9527
Epoch 166/200
40/40 [==============================] - 0s 2ms/step - loss: 43.8434 - mse: 43.8434
Epoch 167/200
40/40 [==============================] - 0s 2ms/step - loss: 130.3631 - mse: 130.3631
Epoch 168/200
40/40 [==============================] - 0s 2ms/step - loss: 33.9566 - mse: 33.9566
Epoch 169/200
40/40 [==============================] - 0s 2ms/step - loss: 22.5636 - mse: 22.5636
Epoch 170/200
40/40 [==============================] - 0s 2ms/step - loss: 24.2382 - mse: 24.2382
Epoch 171/200
40/40 [==============================] - 0s 2ms/step - loss: 25.8153 - mse: 25.8153
Epoch 172/200
40/40 [==============================] - 0s 2ms/step - loss: 24.7550 - mse: 24.7550
Epoch 173/200
40/40 [==============================] - 0s 3ms/step - loss: 17.2687 - mse: 17.2687
Epoch 174/200
40/40 [==============================] - 0s 2ms/step - loss: 16.9419 - mse: 16.9419
Epoch 175/200
40/40 [==============================] - 0s 2ms/step - loss: 21.3369 - mse: 21.3369
Epoch 176/200
40/40 [==============================] - 0s 2ms/step - loss: 18.1976 - mse: 18.1976
Epoch 177/200
40/40 [==============================] - 0s 2ms/step - loss: 21.0388 - mse: 21.0388
Epoch 178/200
40/40 [==============================] - 0s 2ms/step - loss: 23.8393 - mse: 23.8393
Epoch 179/200
40/40 [==============================] - 0s 2ms/step - loss: 19.8755 - mse: 19.8755
Epoch 180/200
40/40 [==============================] - 0s 2ms/step - loss: 21.3454 - mse: 21.3454
Epoch 181/200
40/40 [==============================] - 0s 2ms/step - loss: 186.9865 - mse: 186.9865
Epoch 182/200
40/40 [==============================] - 0s 2ms/step - loss: 113.0120 - mse: 113.0120
Epoch 183/200
40/40 [==============================] - 0s 2ms/step - loss: 73.3881 - mse: 73.3881
Epoch 184/200
40/40 [==============================] - 0s 2ms/step - loss: 22.8049 - mse: 22.8049
Epoch 185/200
40/40 [==============================] - 0s 2ms/step - loss: 38.9738 - mse: 38.9738
Epoch 186/200
40/40 [==============================] - 0s 2ms/step - loss: 13.9897 - mse: 13.9897
Epoch 187/200
40/40 [==============================] - 0s 2ms/step - loss: 70.5499 - mse: 70.5499
Epoch 188/200
40/40 [==============================] - 0s 2ms/step - loss: 36.3220 - mse: 36.3220
Epoch 189/200
40/40 [==============================] - 0s 2ms/step - loss: 13.2943 - mse: 13.2943
Epoch 190/200
40/40 [==============================] - 0s 2ms/step - loss: 27.4618 - mse: 27.4618
Epoch 191/200
40/40 [==============================] - 0s 2ms/step - loss: 36.8478 - mse: 36.8478
Epoch 192/200
40/40 [==============================] - 0s 2ms/step - loss: 13.1582 - mse: 13.1582
Epoch 193/200
40/40 [==============================] - 0s 2ms/step - loss: 24.1502 - mse: 24.1502
Epoch 194/200
40/40 [==============================] - 0s 2ms/step - loss: 11.1444 - mse: 11.1444
Epoch 195/200
40/40 [==============================] - 0s 2ms/step - loss: 12.8280 - mse: 12.8280
Epoch 196/200
40/40 [==============================] - 0s 2ms/step - loss: 21.7105 - mse: 21.7105
Epoch 197/200
40/40 [==============================] - 0s 2ms/step - loss: 36.9403 - mse: 36.9403
Epoch 198/200
40/40 [==============================] - 0s 3ms/step - loss: 22.4381 - mse: 22.4381
Epoch 199/200
40/40 [==============================] - 0s 2ms/step - loss: 23.9224 - mse: 23.9224
Epoch 200/200
40/40 [==============================] - 0s 2ms/step - loss: 24.6792 - mse: 24.6792

In [55]:
model1.evaluate(x_test, y_test)

4/4 [==============================] - 0s 3ms/step - loss: 13.7195 - mse: 13.7195

[13.719474792480469, 13.719474792480469]

In [58]:
import matplotlib.pyplot as plt

In [59]:
fig, ax = plt.subplots(figsize = (8,5))
ax.plot(y_pred, label = "y_pred")
ax.plot(y_test, label = "y_test") 
plt.show()