In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r"C:\Users\imins\Downloads\TripAdvisor_RestauarantRecommendation (1).csv")

In [3]:
data.head()

,Name,Street Address,Location,Type,Reviews,No of Reviews,Comments,Contact Number,Trip_advisor Url,Menu,Price_Range
0,Betty Lou's Seafood and Grill,318 Columbus Ave,"San Francisco, CA 94133-3908","Seafood, Vegetarian Friendly, Vegan Options",4.5 of 5 bubbles,243 reviews,NaN,+1 415-757-0569,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
1,Coach House Diner,55 State Rt 4,"Hackensack, NJ 07601-6337","Diner, American, Vegetarian Friendly",4 of 5 bubbles,84 reviews,"Both times we were there very late, after 11 P...",+1 201-488-4999,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
2,Table Talk Diner,2521 South Rd Ste C,"Poughkeepsie, NY 12601-5476","American, Diner, Vegetarian Friendly",4 of 5 bubbles,256 reviews,Waitress was very friendly but a little pricey...,+1 845-849-2839,https://www.tripadvisor.com//Restaurant_Review...,http://tabletalkdiner.com/menu/breakfast/,$$ - $$$
3,Sixty Vines,3701 Dallas Pkwy,"Plano, TX 75093-7777","American, Wine Bar, Vegetarian Friendly",4.5 of 5 bubbles,235 reviews,Not sure why I went there for the second time....,+1 469-620-8463,https://www.tripadvisor.com//Restaurant_Review...,https://sixtyvines.com/menu/plano-tx/,$$ - $$$
4,The Clam Bar,3914 Brewerton Rd,"Syracuse, NY 13212","American, Bar, Seafood",4 of 5 bubbles,285 reviews,Doesn't look like much from the outside but wa...,+1 315-458-1662,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$

In [4]:
data.shape

(3062, 11)

In [5]:
data.isna().sum()

Name                  0
Street Address        0
Location              0
Type                 13
Reviews               0
No of Reviews         0
Comments            615
Contact Number        0
Trip_advisor Url      0
Menu                  0
Price_Range           0
dtype: int64

In [6]:
data.dtypes

Name                object
Street Address      object
Location            object
Type                object
Reviews             object
No of Reviews       object
Comments            object
Contact Number      object
Trip_advisor Url    object
Menu                object
Price_Range         object
dtype: object

In [25]:
data['Type']

0         Seafood, Vegetarian Friendly, Vegan Options
1                Diner, American, Vegetarian Friendly
2                American, Diner, Vegetarian Friendly
3             American, Wine Bar, Vegetarian Friendly
4                              American, Bar, Seafood
                            ...
3057               American, Bar, Vegetarian Friendly
3058                           American, Bar, Seafood
3059                         Steakhouse, Italian, Bar
3060     American, Vegan Options, Gluten Free Options
3061      Italian, Vegetarian Friendly, Vegan Options
Name: Type, Length: 3062, dtype: object

In [8]:
data['Type'] = data['Type'].fillna('')
data['Comments'] = data['Comments'].fillna('')

In [9]:
data.isna().sum()

Name                0
Street Address      0
Location            0
Type                0
Reviews             0
No of Reviews       0
Comments            0
Contact Number      0
Trip_advisor Url    0
Menu                0
Price_Range         0
dtype: int64

In [13]:
data['Comments']

0
1       Both times we were there very late, after 11 P...
2       Waitress was very friendly but a little pricey...
3       Not sure why I went there for the second time....
4       Doesn't look like much from the outside but wa...
                              ...
3057    We had to wait a few minutes to get it but it ...
3058    Came here to see Andrea Gibson perform, we wer...
3059    We come to Brio once a month. They are good fo...
3060    Stopped in yesterday for Breakfast. When in Je...
3061    First time for dinner. 2 couples. Delicious mu...
Name: Comments, Length: 3062, dtype: object

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
tfidf  = TfidfVectorizer(stop_words="english")

In [16]:
tfidf_matrix = tfidf.fit_transform(data['Comments'])

In [18]:
tfidf_matrix.shape

(3062, 6245)

In [20]:
from sklearn.metrics.pairwise import linear_kernel

In [21]:
cosine_sim = linear_kernel(tfidf_matrix,tfidf_matrix)

In [30]:
indices = pd.Series(data.index,index=data['Name']).drop_duplicates()

In [31]:
indices

Name
Betty Lou's Seafood and Grill       0
Coach House Diner                   1
Table Talk Diner                    2
Sixty Vines                         3
The Clam Bar                        4
                                 ...
Indigo Kitchen & Ale House       3057
City Vineyard                    3058
BRIO Tuscan Grille               3059
Maywood Pancake house            3060
Porto Leggero                    3061
Length: 3062, dtype: int64

In [36]:
def content_recommender(Name, cosine_sim=cosine_sim, data=data, indices=indices):
    idx = indices[Name]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return data['Name'].iloc[movie_indices]

In [43]:
content_recommender("Porto Leggero")

2110        Black Eyed Susans
2838            Osteria Danny
804           Taste of Europe
1196               Lilac Cafe
1450             Olive Garden
613     House Wine and Bistro
3048        Buffalo Chophouse
1946         Athos Restaurant
309           Ranch House BBQ
2469            The Arlington
Name: Name, dtype: object